
/* Reset browser defaults */

table, tbody, thead, tr, td, table tr td {
	border-spacing: 0;
	border: 0;
	margin: 0;
	padding: 0;
}

.board {
	border-color: black;
	border-collapse: collapse;
	margin: auto;
	margin-bottom: 1rem;
}

.board td {
	border: 0.1rem solid #eee;
}

.board tr:nth-of-type(3n+1) td {
	border-top-width: 0.1rem;
	border-top-color: black;
	border-top-style: solid;
}

.board tr td:nth-of-type(3n+1) {
	border-left-width: 0.1rem;
	border-left-color: black;
	border-left-style: solid;
}

.board tr:nth-of-type(3n+3) td {
	border-bottom-width: 0.1rem;
	border-bottom-color: black;
	border-bottom-style: solid;
}
.board tr td:nth-of-type(3n+3) {
	border-right-width: 0.1rem;
	border-right-color: black;
	border-right-style: solid;
}

.board tr:nth-of-type(even) {
	background-color: inherit;
}

/* foundation success color */
.candidate {
	background-color: #43ac6a;
}

/* foundation alert color */
.alert {
	background-color: red;
}

.board .pencilmarks {
 	width: 100%;
	height: 100%;
}	

.board tr td .pencilmark {
	border-spacing: 0;
	border: 0;
	padding: 0;
	text-align: center;
}

.picknumbers {
	margin: auto;
	margin-bottom: 16px;
	display: inline-block;
}

.picknumber {
	padding: 0;
	margin: 0;
	border: 0;
    text-align: center;
}

@media only screen and (min-width : 841px) {

	table {
		width: 396px;
	}
	.cell-width {width: 44px;}
	.row-height {height: 44px}
	.cell {
		text-align: center;
		font-size: 1.8rem;
	}
	.picknumber {
	    font-size: 1.8rem;
		width: 44px;
		height: 44px;
		line-height: 44px;
	}
	.board tr td .pencilmark {
		font-size: 0.7rem;
		width: 14px;
		height: 14px;
		line-height: 14px;
	}
	.button.control {
		width: 10em;
		margin: 8px;
		margin-bottom: 16px;
		margin-top: 0;
	}
}

@media only screen and (max-width : 840px) {

	table {
		width: 288px;
	}
	.cell-width {width: 32px;}
	.row-height {height: 32px}
	.cell {
		text-align: center;
		font-size: 1.3rem;
	}
	.picknumber {
	    font-size: 1.3rem;
		width: 32px;
		height: 32px;
		line-height: 32px;
	}
	.board tr td .pencilmark {
		font-size: 0.5rem;
		width: 10px;
		height: 10px;
		line-height: 10px;
	}
	.button.control {
		width: 10em;
		margin: 8px;
		margin-bottom: 16px;
		margin-top: 0;
	}
}

/* iPhone */
@media only screen and (max-width: 500px) {
	.button.control {
		width: 80px;
		margin: 8px;
		margin-bottom: 16px;
		margin-top: 0;
	}
	.hidesmall {
		display: none;
	}

}